$key-height: 30px;
$key-width-step: 15px;
$max-width: 4;

.vkbrd-spacer {
  float: left;
  height: $key-height;
}

@for $i from 1 through $max-width {
  .vkbrd-spacer-#{$i} { width: $key-width-step * $i; }
  .vkbrd-key-#{$i} { width: $key-width-step * $i; }
}

.vkbrd-row {
  margin: 2px 0;
}

.vkbrd-key {
  margin: 0 2px;
  height: $key-height;
}

.vkbrd-key-sm {
  width: $key-width-step * 2;
}

.vkbrd-key-md {
  width: $key-width-step * 4;
}

.vkbrd-key-lg {
  width: $key-width-step * 6;
}

.vkbrd-key-hg {
  width: $key-width-step * 20;
}
