$scale: 2;
$size: 15px * $scale;
$height: $size * 2;
$max-steps: 12;

.vkbrd-spacer {
  float: left;
  height: $height;
}

@for $i from 1 through $max-steps {
  .vkbrd-spacer-#{$i} { width: $size * $i; }
  .vkbrd-key-#{$i} { width: $size * $i; }
}

.vkbrd-container {
  position: absolute;
  padding: 15px;
  border: 1px solid lightgray;
}

.vkbrd-row {
  margin: 2px 0;
}

.vkbrd-key {
  border-radius: 5px;
  margin: 0 2px;
  height: $height;
  font-size: $size;
}

.vkbrd-key-sm {
  width: $size * 2;
}

.vkbrd-key-md {
  width: $size * 5;
}

.vkbrd-key-lg {
  width: $size * 6;
}

.vkbrd-key-hg {
  width: $size * 20;
}
